@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&family=Protest+Riot&family=Shadows+Into+Light&display=swap');


.mainlinks-div{

    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mainlinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 6px;
    list-style: none;
}
.mainlinks a{
    text-decoration: none;
    margin: 12px;
    font-family: JetBrains Mono;
    font-size: 17.5px;
    color: firebrick;
}
.mainlinks a:hover{
    color: rgb(180, 55, 55);
}

#dinsa{
    position: relative;
    top: 1px;
    font-size: 20px;
    font-family: Dancing Script;
    color: firebrick;
    letter-spacing: 1px;
    margin: 5px;
}

#dis{
    position: relative;
    top: 1px;
    font-size: 20px;
    font-family: Dancing Script;
    color: firebrick;
    letter-spacing: 1px;
    margin: 5px;
}

.banner{
    height: 500px;
}

.card-img{
    filter: brightness(40%);
}

.con{
    text-align: center;
}


.card-title{
    position: relative;
    top: 180px;
    font-family: Dancing Script;
    font-size: 50px;
}

.card-deck{
    height: 450px;
}


.footer{
    height: 70px;
    background:  firebrick;
    text-align: center;
}
.footer-text{
    color: bisque;
    font-size: large;
    position: relative;
    top: 25px;
    font-family: JetBrains Mono;
}